.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.app {
      display: block;
      width: 400px;
      height: 200px;
      margin-top: 5px;
    }

img {
  width: 250px;
  height: auto;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-top: 25px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.percentuale-presenze {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
  background-color: green;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.percentuale-assenze {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
  background-color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
